<<<<<<< HEAD
body {
	background-image: url('./background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow-y: hidden;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	width: 90%;
	height: 96%;
	margin: 2% 5% 2%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
    justify-content: center; 
    align-items: center;
}

#photo {
	position: absolute;
	top: 3%;
	width: 80%;
	height: 50%;
	display: flex;
    justify-content: center; 
    align-items: center;
}

img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

#front {
	z-index: 1;
}

#front:hover {
	opacity: 0%;
}

#content {
	position: absolute;
	top: 55%;
	height: 40%;
	width: 60%;
	text-align: center;
	font-size: 150%;
	font-family: sans-serif;
	font-weight: bold;
	border-style: double;
	border-width: 10px;
	border-radius: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
=======
body {
	background-image: url('./background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow-y: hidden;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.75);
	width: 90%;
	height: 96%;
	margin: 2% 5% 2%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
    justify-content: center; 
    align-items: center;
}

#photo {
	position: absolute;
	top: 3%;
	width: 80%;
	height: 50%;
	display: flex;
    justify-content: center; 
    align-items: center;
}

img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
}

#front {
	z-index: 1;
}

#front:hover {
	opacity: 0%;
}

#content {
	position: absolute;
	top: 55%;
	height: 40%;
	width: 60%;
	text-align: center;
	font-size: 150%;
	font-family: sans-serif;
	font-weight: bold;
	border-style: double;
	border-width: 10px;
	border-radius: 15px;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
>>>>>>> 178e4282b53a37737be54a964a327a33019eec7f
}